{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bracket.min.js')}}}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block app_content %}

<h1> Tournament Status</h1>
<p>No promises... this might be janky as heck.</p>

<main id="tournament">
    <ul class="round round-1">
        {% for m in data[0] %}
            <li class="match match-top {% if m.winner == m.word_1 %} winner {%endif%}" >{{m.word_1}}</li>
            <li class="match match-spacer">&nbsp;</li>
            <li class="match match-bottom {% if m.winner == m.word_2 %} winner {%endif%}">{{m.word_2}}</li>

            <li class="spacer">&nbsp;</li>
        {% endfor %}
    </ul>
    <ul class="round round-2">

        {% for m in data[1] %}
            <li class="match match-top {% if m.winner == m.word_1 %} winner {%endif%}" >{{m.word_1}}</li>
            <li class="match match-spacer">&nbsp;</li>
            <li class="match match-bottom {% if m.winner == m.word_2 %} winner {%endif%}">{{m.word_2}}</li>

            <li class="spacer">&nbsp;</li>
        {% endfor %}
    </ul>

    <ul class="round round-2">

        {% for m in data[2] %}
            <li class="match match-top {% if m.winner == m.word_1 %} winner {%endif%}" >{{m.word_1}}</li>
            <li class="match match-spacer">&nbsp;</li>
            <li class="match match-bottom {% if m.winner == m.word_2 %} winner {%endif%}">{{m.word_2}}</li>

            <li class="spacer">&nbsp;</li>
        {% endfor %}
    </ul>

</main>


<style>
    main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .match-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.match{
  padding-left:20px;
}

  li.match.winner{
    font-weight:bold;
  }
  li.match span{
    float:right;
    margin-right:5px;
  }

  li.match-top{ border-bottom:1px solid #aaa; }

  li.match-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.match-bottom{
    border-top:1px solid #aaa;
  }

</style>
{% endblock %}